@font-face {
  font-family: 'AuthenticSansCondensed60';
  src: url(../../fonts/AuthenticSans/AUTHENTICSans-Condensed-60.otf) format('opentype'),
  url(../../fonts/AuthenticSans/AUTHENTICSans-Condensed-60.woff) format('woff'),
  url(../../fonts/AuthenticSans/AUTHENTICSans-Condensed-60.woff2) format('woff2');
}

@font-face {
  font-family: 'AuthenticSans60';
  src: url(../../fonts/AuthenticSans/AUTHENTICSans-60.otf) format('opentype'),
  url(../../fonts/AuthenticSans/AUTHENTICSans-60.woff) format('woff'),
  url(../../fonts/AuthenticSans/AUTHENTICSans-60.woff2) format('woff2');
}
