@font-face {
  font-family: 'AuthenticSansCondensed60';
  src: url(../../fonts/AuthenticSans/AUTHENTICSans-Condensed-60.otf) format('opentype'),
  url(../../fonts/AuthenticSans/AUTHENTICSans-Condensed-60.woff) format('woff'),
  url(../../fonts/AuthenticSans/AUTHENTICSans-Condensed-60.woff2) format('woff2');
}

@font-face {
  font-family: 'AuthenticSans60';
  src: url(../../fonts/AuthenticSans/AUTHENTICSans-60.otf) format('opentype'),
  url(../../fonts/AuthenticSans/AUTHENTICSans-60.woff) format('woff'),
  url(../../fonts/AuthenticSans/AUTHENTICSans-60.woff2) format('woff2');
}

@font-face {
  font-family: 'StereoSans';
  src: url(../../fonts/StereoSans/StereoSans.ttf) format('truetype'),
  url(../../fonts/StereoSans/StereoSans.woff) format('woff');
}

@font-face {
  font-family: 'IosevkaLightItalic';
  src: url(../../fonts/Iosevka/iosevka-lightitalic.ttf) format('truetype'),
  url(../../fonts/Iosevka/iosevka-lightitalic.woff) format('woff'),
  url(../../fonts/Iosevka/iosevka-lightitalic.woff2) format('woff2');
}

@font-face {
  font-family: 'GlyphWorldFlower';
  src: url(../../fonts/GlyphWorld/GlyphWorld-Flower.otf) format('opentype');
}

@font-face {
  font-family: 'WreckageGrotesque';
  src: url(../../fonts/WreckageGrotesque/Wreckage-GrotesqueOne.otf) format('opentype');
}

@font-face {
  font-family: 'Lunchtype25';
  src: url(../../fonts/Lunchtype25/lunchtype25-regular_condensed-webfont.woff2) format('woff2'),
  url(../../fonts/Lunchtype25/lunchtype25-regular_condensed-webfont.woff) format('woff'),
  url(../../fonts/Lunchtype25/lunchtype25-regular_condensed-webfont.ttf) format('truetype'),
  url(../../fonts/Lunchtype25/lunchtype25-regular_condensed-webfont.svg#lunchtype25condensed_regular) format('svg');
}

@font-face {
  font-family: 'ApfelGrotezkBrukt';
  src: url(../../fonts/ApfelGrotezk/ApfelGrotezk-Brukt.woff) format('woff'),
  url(../../fonts/ApfelGrotezk/ApfelGrotezk-Brukt.woff2) format('woff2');
}
