@import "/assets/css/global/vars.css";
@import "/assets/css/global/typography.css";

html, body {
  height: 100%;
}

header, footer {
  position: fixed;
  width: calc(100vw - (var(--padding) * 2));
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  top: 50px;
}

header nav, footer nav {
  max-width: 900px;
  margin: 0 auto;
}

header nav a, header nav a:visited {
  color: #000;
  font-size: 1.5em;
  text-decoration: none;
  line-height: 1.2em;
}

body {
  background: var(--bg);
  font-weight: normal;
  margin: var(--padding);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: normal;
}

@media (min-width: 800px) {
  h1 {
    font-size: 3em;
  }
}

footer {
  bottom: 50px;
}

footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

aside, aside a, aside a:visited {
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

aside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  font-size: .8rem;
}

aside p {
  margin: 0;
}

aside a:hover {
  text-decoration: none;
}
