@import "/assets/css/global/vars.css";
@import "/assets/css/global/typography.css";

html, body {
  height: 100%;
}

header, footer {
  position: fixed;
  width: calc(100vw - (var(--padding) * 2));
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  top: 50px;
}

header nav, footer div {
  max-width: 900px;
  margin: 0 auto;
}

header nav a, header nav a:visited {
  color: #000;
  font-size: 1.5em;
  text-decoration: none;
  line-height: 1.2em;
}

body {
  background: var(--bg);
  font-weight: normal;
  margin: var(--padding);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: normal;
  max-width: 900px;
}

@media (min-width: 800px) {
  h1 {
    font-size: 5em;
  }
}

footer {
  bottom: 50px;
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

@media (min-width: 800px) {
  footer div {
    font-size: 1em;
    flex-direction: row;
  }
}

footer div, footer div a, footer div a:visited {
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer div p {
  margin: 0;
}

footer div a:hover {
  text-decoration: none;
}
